body{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(darkblue, white, darkblue);
  display: flex;
  justify-content: center;
  align-items: center;
}
#container{
  width: 52vw;
  height: 92vh;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: calibri;
  padding: 15px;
  flex-direction: column;
  box-shadow: -1em 1em 2em .75em white, 1em -1em 4em .75em white, 1em 1em 2em .75em white;
}
#inputs{
  padding-top: 2%;
  width: 49vw;
  height:89vh;
  background: slategrey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  font-size: .95em;
  font-family: calibri;
  overflow: scroll;
  }

@keyframes slideInLeft {
   0%{
      transform: translateX(-100%);
    }

   100%{
     transform: translateX(0);
   }
}



label, input{
  margin-left: 2em;
  margin-top: .75em;
  margin-right: 1px;
  justify-self: flex-end;
  animation: 3s ease-out 0s 1 slideInLeft;
}
label:hover, input:hover{
  margin-left: 2em;
  margin-top: .75em;
  margin-right: 1px;
  justify-self: flex-end;
  animation: 3s ease-out 0s 1 slideInLeft;
  border: 2px solid white;
}

